* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    min-height: 100vh;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}
header {
    display: grid;
    z-index: 1;
    background-color: #FFFFFF;
    padding: 0 10vw;
    align-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #545454;
    align-content: center;
    column-gap: 2em;
    margin-right: 20px;
}
.links span {
    display: grid;
    justify-content: left;
    align-content: center;
}
a {
    text-decoration: none;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
    background-color: #E5E5E5;
    padding: 55px 10vw 85px 10vw;
    column-gap: 50px;
    row-gap: 25px;
}
.conteudo {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 40px;
}
.card {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-bottom: 15px;
}
.card h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 24px 24px 8px 24px;
}
.card h6 {
    font-size: 12px;
    font-weight: 400;
    color: #929292;
    margin: 8px 24px 14px 24px;
}
.card img {
    width: 100%;
}
.card p {
    margin: 24px;
}
.card ul {
    margin: 24px 45px;
    list-style-position: inside;
}
.card li>ul {
    margin: 0 45px;
}
.card button {
    all: unset;
    display: block;
    text-align: center;
    border: 1px solid #FE0078;
    border-radius: 20px;
    padding: 1em 2em;
    margin: 24px 24px 24px auto;
}
.card button, .card p, .card li, .links a, .links a:visited, .anuncio, .tags, #pesquisa {
    color: #545454;
}
.card button:hover {
    background-color: #FE0078;
    color: #FFFFFF;
}
.comentarios h1 {
    font-size: 24px;
    margin: 24px 0;
}
.formularios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 200px;
    gap: 24px;
}
#pesquisa, #txtNome, #txtEmail, #txtAssunto, #txtComentario {
    all: unset;
    background-color: #FFFFFF;
}
.nome, .email, .assunto, .comentbox {
    display: grid;
    align-content: space-between;
}
.comentbox {
    grid-column-end: span 2;
}
#txtNome, #txtEmail, #txtAssunto {
    height: 40px;
}
#txtComentario {
    border: 0;
    width: 100%;
    resize: none;
    height: 170px;
}
.botao-form button {
    all: unset;
    background-color: #FE0078;
    color: #FFFFFF;
    display: block;
    text-align: center;
    border-radius: 20px;
    padding: 1em 2em;
    margin: 0 0 0 auto;
}
.botao-form button:hover {
    cursor: pointer;
}
.menu {
    display: grid;
    grid-template-rows: repeat (7, min-content);
    row-gap: 25px;
    background-color: #FFFFFF;
    padding: 20px 20px 40px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
#pesquisa {
    height: 50px;
    width: 93%;
    padding-left: 20px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}
#pesquisa:focus, #txtNome:focus, #txtEmail:focus, #txtAssunto:focus, #txtComentario:focus{
    border: 1px solid #FE0078;
}
.menu h2 {
    display: grid;
    align-content: center;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    border-left: 2px solid #FE0078;
    height: 40px;
}
.tags {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 2px dashed #EEEEEE;
}
.tags:hover {
    color: #FE0078;
    border-bottom: 2px dashed #FE0078;
    cursor: pointer;
}
.anuncio {
    display: grid;
    place-content: center;
    font-size: 36px;
    font-weight: 400;
    background-color: #EEEEEE;
    width: 25vw;
    height: 18vw;
}
footer {
    display: grid;
    background-color: #222222;
    color: #FFFFFF;
    place-content: center;
}